@font-face {
	src: url('../fonts/Inter-Medium.ttf') format('truetype');
	font-family: 'Inter';
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
	font-family: 'Inter';
	font-weight: 600;
	font-style: normal;
}

body {
	margin: 0 auto;
}

.wrapper {
	font-family: 'Inter';
	max-width: 100%;
    display: flex;
	padding: 50px;
	color: white;
	background-color: black;
	height: 90vh;
	
}


.list:not(:last-child) {
padding-right: 30px;
}



@media screen and (max-width: 650px) {
	
}
